<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Vue app</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<style type="text/css">
li {
    display: inline-block;
    margin: 3px;
    padding: 3px;
    cursor: pointer;
    background-color: blanchedalmond;

}

</style>
<body>
    <div id="app">
        <h3>Select your favorite fruit </h3>
        <ul>
            <li v-for="fruit in fruits" v-on:click="selectFruit(fruit)">{{ fruit }}</li>
        </ul>
        <div v-if="message">
            Your favorite fruits are {{ message }}

            <button v-on:click="clearSelection">Clear </button>
        </div>
    </div>
    
      <script>
var app = new Vue({
    el: '#app', // anchor 
    data: {
        // logic
        fruits: [ 'Apples', 'Oranges', 'Grapes', 'Banana', 'Mango' ],
        favorites: []
    },
    methods: {
        selectFruit (fruit){
            let index= this.favorites.indexOf(fruit) 
            if (index === -1){
                this.favorites.push(fruit);
            }else{
                this.favorites.splice(index,1);
            }
        },
        clearSelection (){
            this.favorites = this.favorites.slice(0,0);
        }
    },
    computed: {
        message(){
            let len = this.favorites.length ;
            if (len> 1) {
                return this.favorites.slice(0,len-1).join(', ').concat(" and ", this.favorites[len-1]);
            }else if (len === 1){
                return this.favorites[0];
            }
        }
    }
})
</script>
</body>
</html>